/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q { 
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	max-width: 100%;
	/* border: 1px solid grey; */
}



header {
	background-color: lightgray;
	padding: 20px;
	font-size: 1.25rem;
}

h1 {
	font-size: 2rem;
	flex: 0 1 100%;
	margin: 1.5%;
	font-style: bold;
}


/* .top {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	border: solid;
	border-color: black;
	/* background-image: url('https://theplanetd.com/images/Best-Views-in-New-York-City.jpg');
	background-size: cover; */
	/* background-color: darkgrey;
} */ 

/* .top>h1:first-child {
	font-size: 2rem;
	flex: 0 1 100%;
	margin: 1.5%;
} */


nav {
	/* border: solid;
	border-color: black; */
	font: white;
	font-size: 1.25rem;
	margin-left: 4%;
	margin-bottom: 2%;
}

nav a:hover {
	color:black;
}


.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
}


.main img {
	width: 30rem;
    height: auto;
	padding: 4%;
}

.description {
	padding: 20px;
}


h2 {
	font-size: 1.75rem;
	padding: 10px;
}

/* .description button {
	font-size: larger;
	border: solid;
	border-color: black;
	color: red;
	display: inline-block;
	margin-top: 2%;
	margin-bottom: 2%;
	cursor: pointer;
} */



.main p {
	font-size: 1.5rem;
	margin-right: 20%;
	padding: 10px;
}



.row {
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
}

.portfolio-element {
	text-align: center;
}


button {
	background-color: white;
	color: black;
	border: black solid 1px;
	padding: 5px 10px;

}


button:hover {
	background-color: black;
	color:white;
	border: white solid 1px;
}

button a {
	text-decoration: none;
	color: inherit;
}

/* .projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.projects div {
	border: solid;
	border-color: black;
	width: 10%;
	padding: 5%;
	height: 40%;
	margin-bottom: 5%;
} */

footer {
	background-color: lightgrey;
	text-align: center;
	padding: 20px;
}

/* .project1 img {
	border: solid;
	border-color: black;
	width: 10%;
	padding: 4%;
	height: 10%;
} */



@media (max-width: 800px) {
	.row div {
		width: 20%;
	}

}


@media (max-width: 500px) {
	header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	button {
		width: 30%;
		margin: 1% 0%;
	}
	.main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.description {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.description p {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.row div {
		width: 40%;
		margin: 4% 0%;
	}
	
}